<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="~/Assets/images/favicon.ico">
	<title>Plantilla App </title>
	<!-- Bootstrap 4.0-->
	<link rel="stylesheet" href="~/Assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="~/Assets/css/bootstrap-extend.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/Assets/css/master_style.css">
	<!-- Fab Admin skins -->
	<link rel="stylesheet" href="~/Assets/css/skins/_all-skins.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="#" class="logo">
				<!-- mini logo -->
				<b class="logo-mini">
					<span class="light-logo"><img src="~/Assets/images/logo-light.png" alt="logo"></span>
					<span class="dark-logo"><img src="~/Assets/images/logo-dark.png" alt="logo"></span>
				</b>
				<!-- logo-->
				<span class="logo-lg">
					<img src="~/Assets/images/logo-light-text.png" alt="logo" class="light-logo">
					<img src="~/Assets/images/logo-dark-text.png" alt="logo" class="dark-logo">
				</span>
			</a>
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<div>
					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
				</div>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages -->
						<li class="dropdown messages-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="mdi mdi-email"></i>
							</a>
							<ul class="dropdown-menu scale-up">
								<li class="header">You have 5 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu inner-content-div">
										<li>
											<!-- start message -->
											<a href="#">
												<div class="pull-left">
													<img src="~/Assets/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
												</div>
												<div class="mail-contnet">
													<h4>
														Lorem Ipsum
														<small><i class="fa fa-clock-o"></i> 15 mins</small>
													</h4>
													<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
												</div>
											</a>
										</li>
										<!-- end message -->
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../../images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
												</div>
												<div class="mail-contnet">
													<h4>
														Nullam tempor
														<small><i class="fa fa-clock-o"></i> 4 hours</small>
													</h4>
													<span>Curabitur facilisis erat quis metus congue viverra.</span>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../../images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
												</div>
												<div class="mail-contnet">
													<h4>
														Proin venenatis
														<small><i class="fa fa-clock-o"></i> Today</small>
													</h4>
													<span>Vestibulum nec ligula nec quam sodales rutrum sed luctus.</span>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../../images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
												</div>
												<div class="mail-contnet">
													<h4>
														Praesent suscipit
														<small><i class="fa fa-clock-o"></i> Yesterday</small>
													</h4>
													<span>Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.</span>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../../images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
												</div>
												<div class="mail-contnet">
													<h4>
														Donec tempor
														<small><i class="fa fa-clock-o"></i> 2 days</small>
													</h4>
													<span>Praesent vitae tellus eget nibh lacinia pretium.</span>
												</div>
											</a>
										</li>
									</ul>
								</li>
								<li class="footer"><a href="#">See all e-Mails</a></li>
							</ul>
						</li>
						<!-- User Account-->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="~/Assets/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
							</a>
							<ul class="dropdown-menu scale-up">
								<!-- User image -->
								<li class="user-header">
									<img src="~/Assets/images/user5-128x128.jpg" class="float-left rounded-circle" alt="User Image">

									<p>
										Juliya Brus
										<small class="mb-5">jb@gmail.com</small>
										<a href="#" class="btn btn-danger btn-sm btn-rounded">View Profile</a>
									</p>
								</li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="row no-gutters">
										<div class="col-12 text-left">
											<a href="#"><i class="ion ion-person"></i> My Profile</a>
										</div>
										<div class="col-12 text-left">
											<a href="#"><i class="ion ion-email-unread"></i> Inbox</a>
										</div>
										<div class="col-12 text-left">
											<a href="#"><i class="ion ion-settings"></i> Setting</a>
										</div>
										<div role="separator" class="divider col-12"></div>
										<div class="col-12 text-left">
											<a href="#"><i class="ti-settings"></i> Account Setting</a>
										</div>
										<div role="separator" class="divider col-12"></div>
										<div class="col-12 text-left">
											<a href="#"><i class="fa fa-power-off"></i> Logout</a>
										</div>
									</div>
									<!-- /.row -->
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar-->
			<section class="sidebar">

				<!-- sidebar menu-->
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header nav-small-cap">MENÚ PRINCIPAL</li>
					<li>
						<a href="../../index.html">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-users"></i>
							<span>Personas</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu">
							<li><a href="/Persona/Crear"><i class="fa fa-circle-thin"></i>Crear</a></li>
							<li><a href="/Persona/Index"><i class="fa fa-circle-thin"></i>Listar</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>

		<!-- =============================================== -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>@ViewBag.Title</h1>			
			</section>

			<!-- Main content -->
			<section class="content">
				@RenderBody()
				
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<div class="pull-right d-none d-sm-inline-block">
				<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Purchase Now</a>
					</li>
				</ul>
			</div>
			&copy; 2021 <a href="https://www.multipurposethemes.com/">Haisel Ramirez</a>. Todos los derechos reservados.
		</footer>

		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<!-- jQuery 3 -->
	<script src="~/Assets/vendor_components/jquery/dist/jquery.min.js"></script>

	<!-- popper -->
	<script src="~/Assets/vendor_components/popper/dist/popper.min.js"></script>

	<!-- Bootstrap 4.0-->
	<script src="~/Assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- SlimScroll -->
	<script src="~/Assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

	<!-- FastClick -->
	<script src="~/Assets/vendor_components/fastclick/lib/fastclick.js"></script>

	<!-- Fab Admin App -->
	<script src="~/Assets/js/template.js"></script>

	<!-- Fab Admin for demo purposes -->
	<script src="~/Assets/js/demo.js"></script>


</body>
</html>
